.containerHero {
  @apply relative h-screen w-screen overflow-hidden;
}

.containerHero {
  .second {
    display: grid;
    grid-template-areas:
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      "b b b b b b b b b b b b"
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      /* ". . . . . . . . . . . ." */
      "c c c c c c d d d d d d"
      "c c c c c c d d d d d d";

    /* Adjusting the column widths and row heights */
    grid-template-columns: repeat(12, 1fr); /* 12 equally spaced columns */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* Different heights for different rows */
    height: calc((100vh / 6) * 8);
    position: relative;
  }
}

@media (min-width: 1318px) {
  .containerHero {
    .second {
      display: grid;
      grid-template-areas:
        ". . . . . . . . . c c c"
        ". . . . . . . . . c c c"
        ". . . . . . . . . c c c"
        ". . . . . . . . . c c c"
        ". . . . . . . . . c c c"
        "b b b . . . . . . d d d";
      grid-template-columns: repeat(9, 1fr) repeat(3, 1fr); /* 9 columns for whitespace, 3 columns for 'c' */
      grid-template-rows: repeat(5, 1fr) 300px; /* 5 equal-height rows for whitespace and 'c', 1 row with 'b', whitespace, and 'c' */
      height: 100%;
      z-index: 1;
    }
  }
}

.containerHero {
  .one {
    display: grid;
    grid-template-areas:
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . x x x x x x x x . .";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr) 300px;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

@media (min-width: 1318px) {
  .containerHero {
    .one {
      display: grid;
      grid-template-areas:
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . x x x x x x . . .";

      /* Adjusting the column widths and row heights */
      grid-template-columns: repeat(12, 1fr); /* 12 equally spaced columns */
      grid-template-rows: repeat(5, 1fr) 300px; /* 5 equally spaced rows, last row is double height */
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}

.containerHero > .second > .item3 {
  grid-area: b;
  background-color: aqua;
  height: 100%;
  width: 100%;
}
.containerHero > .second > .item4 {
  grid-area: c;
  background-color: brown;
  height: 100%;
  width: 100%;
}

.containerHero > .second > .item5 {
  grid-area: d;
  background-color: blue;
  height: 100%;
  width: 100%;
}
.containerHero > .one > .list {
  background: #cece3d;
  position: absolute;

  height: 100%;
  width: 100%;
}
/* carousel_start */
.one > .list > .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.one > .list > .item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.one > .list > .item > .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.one > .list > .item > .author {
  font-weight: bold;
  letter-spacing: 10px;
}
.one > .list > .item > .title,
.one > .list > .item > .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.one > .list > .item > .topic {
  color: #f1683a;
}
.one > .list > .item > .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.one > .list > .item > .buttons button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}
.one > .list > .item > .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}
